.demo01 {
	background: #fb3;
	width: 200px;
	height: 200px;
	border-radius: 100px;/* >= 正方形边长的一半 */
}
.demo02{
    width:200px;
    height:150px;
    border-radius:10px/7px;
    background:pink;
}
.demo03{
    width:200px;
    height:150px;
    border-radius:100px/75px;
    background:pink;
}
.demo04{
    width:200px;
    height:150px;
    background:pink;
    border-radius:10px / 5px 20px;
}
/* 
1.在斜杠后分别是 左->右->右->左斜杠左边和右边分别组成四个角的水平和垂直的直径

*/
.demo05{
    width:200px;
    height:150px;
    background:pink;
    border-radius:100px 50px 25px 10px / 10px;
}
/* 
1.左上角  水平半径100px;垂直半径150px;  右上角 水平半径100px; 垂直半径150px;  下边的都是0;
*/
.demo06{
    width:200px;
    height:150px;
    background:pink;
    border-radius:100px 100px 0 0 / 150px 150px 0 0;
}


.demo07{
    width:200px;
    height:150px;
    background:yellow;
    border-radius:200px 0 0 0 / 150px 0 0 0;
}