@charset "utf-8";

@import 'common/reset';
@import 'common/variables';

@import 'common/font';
@import 'common/mixin';



// 开始页面的样式
.title {
	padding: 1rem 5%;
	background: $primary-color;
	color: white;
	box-shadow: $shadowBottom;
	h2 {
		font-weight: 600;
		text-align: center;
	}
}

.hidden {
	display: none;
}

.container {
	padding: 30px 0;
	-webkit-tap-highlight-color:transparent;
	div {
		overflow: hidden;
		text-align: center;
		box-sizing: content-box;
		width: 90%;
		margin: 0 auto;
		.btn{
			position: relative;
			z-index: 1;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.3);
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
			border-radius: 3px;
			text-align: center;
			padding:0;
			float:left;
			cursor: pointer;
			-webkit-user-select: none;/*禁用手机浏览器的用户选择功能 */
			-moz-user-select: none;
			&:before,&:after{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				z-index: -1;
				
			}
			&:before{
				bottom: 0;
				background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjEwMCUiIHI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMiIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
				background: -moz-radial-gradient(bottom center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
				background: -webkit-radial-gradient(bottom center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
				background: radial-gradient(bottom center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
				-moz-border-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) 0 0 1 stretch;
				-moz-border-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) 0 0 1 stretch;
				-o-border-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) 0 0 1 stretch;
				-webkit-border-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) 0 0 1 stretch;
				-webkit-border-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) 0 0 1 stretch;
				border-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) 0 0 1 stretch;
				border-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) 0 0 1 stretch;
				border-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) 0 0 1 stretch;
				border-width: 0 0 1px;
			}
			&:after{
				height: 50%;
				background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3));
				border-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1)) 1 1 0 stretch;
				border-width: 1px 1px 0;
			}
			&:hover:before,&:active:before,&.active:before{
				background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjEwMCUiIHI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4zIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMiIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
				background: -moz-radial-gradient(bottom center, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.2));
				background: -webkit-radial-gradient(bottom center, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.2));
				background: radial-gradient(bottom center, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.2));
			}
			&.active,&:active{
				box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.2), inset 0 0 3px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5), 0 -1px 0 rgba(0, 0, 0, 0.5);
				color: #ddd;
			}
			&:active:before,&.active:before{
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
			}
		}
		.btn-primary{
			color:#fff;
			background-color:$primary-color;
			border-color:$primary-color;
		}
		
	}
}

.tools {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: $primary-color;
	box-shadow: $shadowTop;
	.button-group {
		display: flex;
		button {
		
			flex: 1;
			color:#fff;
			line-height: 49px;
			border-right: none;
			background: transparent;
			border:none;
			&:last-child {
				border-right: 1px solid $primary-color;
			}
		}
	}
}

.popup-num {
	padding: 0;
	position: absolute;
	left: 0;
	top: 0;
	font-size: 12px;
	width: 121px;
	background: #fff;
	-webkit-tap-highlight-color:transparent;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	span {
		display: block;
		width: 40px;
		height: 40px;
		float: left;
		line-height: 40px;
		text-align: center;
		border-top: 1px solid #ccc;
		border-left: 1px solid #ccc;
		cursor: pointer;
		&.mark1 {
			background-color: #ff9;
		}
		&.mark2 {
			background-color: lightgreen;
		}
	}
}
